<div style="width: fit-content;">
    <h2 style="margin-bottom: 40px; text-align: center;">Add new Course</h2>
    <form action="/addCourse" method="post">
        <table class="addCourseTable">
            <tr>
                <td>Enter the course title</td>
                <td><input name="title" type="text"></td>
            </tr>
            <tr>
                <td>Enter the subject name</td>
                <td><input type="text" name="subject" id=""></td>
            </tr>
            <tr>
                <td>Enter short description</td>
                <td><input name="shortDesc" type="text"></td>
            </tr>
            <tr>
                <td>Enter long description</td>
                <td><textarea name="longDesc" id="" cols="30" rows="10"></textarea></td>
            </tr>
            <tr>
                <td>Enter the id of the video</td>
                <td><input name="videoId" type="text"></td>
            </tr>
        </table>
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" class="standardBtn" style="width: 100px;">Submit</button>
        </div>
    </form>
    

</div>