<div style="width: 40vh; border: 1px solid grey; height: 85vh">
    <div style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
        <img src="icons/teacherProfile.png" alt="" style="width: 100px; height: 100px; margin-bottom: 10px;">
        <h3 style="margin-bottom: 5px;">Anish</h3>
        <p style="color: grey;">Teacher</p>
    </div>
    <div style="margin-top: 50px;">
        <div class="teacherMenu">
            <p>Profile</p>
        </div>
        <div class="teacherMenu">
            <p>Your courses</p>
        </div>
        <div class="teacherMenuSelected">
            <p>Add course</p>
        </div>
        <div class="teacherMenu">
            <p>Students performance</p>
        </div>
    </div>

</div>