<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    .addCourseTable td{
        padding: 10px 10px 10px 0; 
    }
    .addCourseTable tr td input{
        width: 400px;
        height: 30px;
    }
    .addCourseTable tr td textarea{
        width: 400px;
    }
    .teacherMenu p{
        padding: 20px 20px;
    }
    .teacherMenuSelected p{
        padding: 20px 20px;
        background-color:  #063C5E;
        color: white;
    }
</style>
<body>
    <%- include('partials/navbar') %> 
    <div style="margin-top: 15vh; display: flex;">
        <%- include('teacherSideBar') %> 
        <div style="height: 85vh; width: 60vw; display: flex; justify-content: center; align-items: center;">
           <div style="width: fit-content;">
                <%- include('teacherProfile') %> 
                <%- include('addCourse') %> 
           </div>
        </div>
    </div>
</body>
</html>