<div style="width: 40vh; border: 1px solid grey; height: 85vh">
    <div style="text-align: center; margin-top: 20px; margin-bottom: 10px;">
        <img src="icons/teacherProfile.png" alt="" style="width: 100px; height: 100px; margin-bottom: 10px;">
        <h3 style="margin-bottom: 5px;">Anish</h3>
        <p style="color: grey;">Teacher</p>
    </div>
    <div onclick="" style="margin-top: 50px;">
        <div class=<%=query=="profile"? "teacherMenuSelected": "teacherMenu"%>>
            <p>Profile</p>
        </div>
        <a href="/teacherLogin?q=courses">
            <div class=<%=query=="courses"? "teacherMenuSelected": "teacherMenu"%>>
                <p>Your courses</p>
            </div>
        </a>
        <a href="/teacherLogin?q=addcourse">
            <div onclick="addcourse" class=<%=query=="addcourse"? "teacherMenuSelected": "teacherMenu"%>>
                <p>Add course</p>
            </div>
        </a>
        <div class=<%=query=="performance"? "teacherMenuSelected": "teacherMenu"%>>
            <p>Students performance</p>
        </div>
    </div>
    

</div>